@import 'tailwindcss';
@source "../views";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-family-sans: 'Poppins', sans-serif;
    --color-obito-black: #0A0723;
    --color-obito-green: #2F6A62;
    --color-obito-grey: #EAECEE;
    --color-obito-red: #EF372B;
    --color-obito-text-grey: #87898C;
    --color-obito-light-green: #E0EAE8;
    --color-obito-light-red: #FFE3E1;
    --color-obito-text-secondary: #6A6F7C;
}

.fi-simple-main-ctn {
    @apply justify-end h-screen w-screen overflow-hidden bg-[url('https://images.unsplash.com/photo-1516528387618-afa90b13e000?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-cover bg-no-repeat bg-center bg-fixed;
}

.fi-simple-main {
    @apply rounded-2xl h-screen w-[37.5rem] m-0 flex justify-center items-center max-w-none;

    & .fi-simple-page {
        @apply w-full;
    }
}